.highlight-element{
	border: solid red 2px!important;
}

a.highlight-element{
	border: solid blue 2px!important;
}

div.highlight-element{
	border: solid green 2px!important;
}

#highlighted-element-tooltip-wrapper{
    position: absolute;
    bottom: 0px;
}

#highlighted-element-tooltip{
	width: 600px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    text-transform: none;
    z-index: 100;
    font-size: 12px;
    font-family: helvetica;
}